<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.umich.eecs.cooties" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TeacherActivity_1_Initialize"
            android:label="@string/title_activity_teacher_initialze" >
        </activity>
        <activity
            android:name=".StudentJoinActivity"
            android:label="@string/title_activity_student_join" >
        </activity>
        <activity
            android:name=".StudentPlayActivity"
            android:label="@string/title_activity_student_play" >
        </activity>
        <activity
            android:name=".TeacherActivity_4_Student_List"
            android:label="@string/title_activity_teacher_activity__list">
        </activity>
        <activity
            android:name=".TeacherActivity_2_Pre_Lobby"
            android:label="@string/title_activity_teacher_activity__lobby" >
        </activity>
        <activity
            android:name=".TeacherActivity_3_In_Game_Lobby"
            android:label="@string/title_activity_teacher_activity__in__game__lobby" >
        </activity>
    </application>

</manifest>
